<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog This</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <h1>Blog This</h1>
            <ul>
                <li>
                    <button><a href="/dashboard">dashboard</a></button>
                    <button id="logout">Logout</button>
                   <button><a href="/login">Login</a></button>
                </li>
            </ul>
        </header>
        <main>
            {{{ body }}}
        </main>
        
        <footer>
            {{!-- current year to find --}}
            <p>&copy current year wubbleTea</p>
        </footer>

    <script src="/javascript/logout.js"></script>
    </body>

</html>