<article class="post">
    <div class="title card bg-success align-items-center">
        <h2>Log-in Page</h2>
    </div>
<form class="login-form card bg-success d-flex justify-content-center m-5 p-5">
    {{> username-password}}
    <div class="d-flex justify-content-between mt-2">
        <button class="btn btn-primary text-white col-5"type="submit">Log-in</button>
        <a href="/signup" class="btn btn-danger col-5 text-white">Need an account? Click here to signup</a>
    </div>
</form>

<script src="/javascript/login.js"></script>