<form class="new-post">
    <div>
        <label for="title">Post Title:</label>
        <input name="title" type="text" id="title">
    </div>
    <div>
        <label for="text">Post: </label>
        <input name="text" type="textarea" id="text" />
    </div>
    <button type="submit">Post this post</button>
</form>

<script src="/javascript/newpost.js"></script>