<form class="signup-form">
    {{> username-password}}
    <div>
        <label for="email">email:</label>
        <input type="text" id="email">
    </div>
    <div>
        <button type="submit">Sign-up</button>
    </div>
</form>

<a href="/login">Click here to login</a>

<script src="/javascript/signup.js"></script>

