<form class="signup-form">
    {{> username-password}}
    <div>
        <label for="email">username:</label>
        <input type="text" id="email">
    </div>
    <div>
        <button type="submit">Sign-up</button>
    </div>
</form>