<div class="title card bg-success align-items-center">
        <h2>Sign-up here</h2>
    </div>

<form class="signup-form card bg-success d-flex justify-content-center m-5 p-5">
    {{> username-password}}
    <div>
        <label for="email">Re-enter password</label>
        <input type="password" id="password-verify" class="full-width" >
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" class="full-width" >
    </div>
    <div class="d-flex justify-content-between mt-2">
        <button class="btn bg-primary col-5 text-white"type="submit">Sign-up!</button>
        <a href="/login" class="btn bg-danger col-5 text-white">Already have an account? Click here to go to the login page.</a>   
    </div>
</form>

<script src="/javascript/signup.js"></script>

